body {
  font-family: "Lato", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Roboto", sans-serif;
}

img {
  width: 600px;
  height: 400px;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 40px;
}

button {
  background-color: rgb(211, 142, 14);
  color: white;
  padding: 10px;
  font-size: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.grid-item {
  position: relative;
}

.grid-item img {
  display: block;
  width: 100%;
  height: auto;
}

.grid-item .header-before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  background-color: rgba(103, 164, 179, 0.8);
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(27, 32, 58, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  text-align: center;
  color: white;
}

.grid-item:hover .overlay {
  height: 100%;
}

.grid-item:hover .header-before {
  opacity: 0;
}

h3 {
  margin-top: 20%;
  font-size: 2rem;
}

p {
  margin: 30px;
}
